<%= form_for @post, html: { multipart: true, class: 'form-inline' } do |f| %>

<div class="formularz">
    <div class="input-group">
      <label for="rg-from">Marka Pojazdu</label>
      <%= f.text_field :mark, placeholder: 'Marka pojazdu', class: 'form-control' %>
    </div>    
    
    <div class="input-group">
      <label for="rg-from">Model Pojazdu</label>
      <%= f.text_field :model, placeholder: 'Model pojazdu', class: 'form-control' %>
    </div>        
    
    <div class="input-group">
      <label for="rg-from">Rok Produkcji</label>
      <%= f.text_field :year, placeholder: 'Rok produkcji', class: 'form-control' %>
    </div>        

    <div class="input-group">
      <label for="rg-from">Numer rejestracyjny</label>
      <%= f.text_field :registration, placeholder: 'Numer rejestracyjny', class: 'form-control' %>
    </div>  
    
    <div class="input-group">
      <label for="rg-from">Właściciel</label>
      <%= f.text_field :owner, placeholder: 'Właściciel', class: 'form-control' %>
    </div>  
    
    <div class="input-group">
      <label for="rg-from">Kosztorys</label>
    <%= f.file_field :document,  class: 'btn'%>
    </div>    
    
    <div>
        <br>
    </div>
    
    <div class="span7 text-center">
        <div class="input-group">
          <%= f.submit "Dodaj szkodę", class: 'btn btn-primary' %>
        </div>
    </div>
    <div><br></div>
    
</div>



    
<% end %>