<%= form_for @post, html: { multipart: true } do |f| %>


<table class="table table-striped">
    
    <tbody>
        <tr>
            <td><%= f.label :Mark %></td>
            <td><%= f.text_field :mark %></td>
        </tr>
        
        <tr>
            <td><%= f.label :Model %></td>
            <td><%= f.text_field :model %></td>
        </tr>
        
        <tr>
            <td><%= f.label :Year %></td>
            <td><%= f.text_field :year %></td>
        </tr>
        
        <tr>
            <td><%= f.label :Registration %></td>
            <td><%= f.text_field :registration %></td>
        </tr>
        
        <tr>
            <td><%= f.label :Owner %></td>
            <td><%= f.text_field :owner %></td>
        </tr>
        
        <tr>
            <td><%= f.label :document %></td>
            <td><%= f.file_field :document %></td>
        </tr>
 
         <tr>
            <td></td>
            <td><%= f.submit %></td>
        </tr>
  
    </tbody>
    
<% end %>