<div style="color: green; margin-left: 100px; margin-bottom: 5px; size: 14px;" id="tujakcossierozkurwi"></div>
<div style="color: green; margin-left: 100px; size: 10px;" id="tujakcossierozkurwi2"></div>

<h1> Zestawienie szkód</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Produkcja</th>
            <th>Tablice</th>
            <th>Właściciel</th>
            <th>Z polecenia.</th>
            <th>Majchrzak</th>
            <th>PCWO</th>
            <th>Solace</th>
            <th>Moja oferta</th>
            <th>Kosztorys</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Edycja</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @posts.each do |post| %>
        
        <tr>
            <td><%= post.mark %></td>
            <td><%= post.model %></td>
            <td><%= post.year %></td>
            <td><%= post.registration %></td>
            <td><%= post.owner %></td>
            <td><%= post.recommendation %></td>
            <td><%= post.majchrzak %></td>
            <td><%= post.pcwo %></td>
            <td><%= post.solace %></td>
            <td><%= post.offer %></td>
            <td><%= link_to "Pobierz", post.document.url %></td>
            <td><%= link_to 'MAJCHRZAK', { :controller => 'posts', :action => 'send_majchrzak', :id => post.id }, :method => :get, :remote => true, class: "btn btn-primary btn-sm", data: { disable_with: "<i class='i class='fa fa-circle-o-notch fa-spin'>
      </i> Wysyłam..."} %></td>
            <td><%= link_to 'PCWO', { :controller => 'posts', :action => 'send_pcwo', :id => post.id }, :method => :get, :remote => true, class: "btn btn-primary btn-sm", data: { disable_with: "<i class='i class='fa fa-circle-o-notch fa-spin'>
      </i> Wysyłam..."} %></td>
      <td><%= link_to 'SOLACE', { :controller => 'posts', :action => 'send_solace', :id => post.id }, :method => :get, :remote => true, class: "btn btn-primary btn-sm", data: { disable_with: "<i class='i class='fa fa-circle-o-notch fa-spin'>
      </i> Wysyłam..."} %></td>
            
            <td><%= link_to "Edytuj", edit_post_path(post), class: 'btn btn-warning btn-sm'%></td>
            <td><%= link_to "Szczegóły", post, class: 'btn btn-default btn-sm' %></td>
            <td><button type="button" class="btn btn-success">Umowa</button></td>
        </tr>
        <% end %>
    </tbody>
</table>

