<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<h1> Zestawienie szkód</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Marka</th>
            <th>x</th>
            <th>z</th>
            <th>z</th>
            <th>z</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    
    
    <tbody>
        <% @posts.each do |post| %>
        <tr>
            <td><%= post.mark %></td>
            <td><%= post.model %></td>
            <td><%= post.year %></td>
            <td><%= post.registration %></td>
            <td><%= post.owner %></td>
            <td><%= link_to "Pobierz", post.document.url %></td>
            <td><%= link_to 'Pobierz async', { :controller => 'posts', :action => 'send_email', :id => post.id }, :method => :get, :remote => true %></td>
            
            <td><%= link_to "Szczegóły", post %></td>
        </tr>
        <% end %>
    </tbody>
</table>

