<div style="color: green; margin-left: 100px; margin-bottom: 5px; size: 14px;" id="tujakcossierozkurwi"></div>
<div style="color: green; margin-left: 100px; size: 10px;" id="tujakcossierozkurwi2"></div>

<h1> Zestawienie szkód</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Produkcja</th>
            <th>Tablice</th>
            <th>Właściciel</th>
            <th>Majchrzak</th>
            <th>Solace</th>
            <th>PCWO</th>
            <th>Zapisz kwoty</th>
            <th>Z polecenia.</th>
            <th>Kosztorys</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Wyświetl</th>
        </tr>
    </thead>

    <tbody>
        <% @posts.each do |post| %>
        <tr>
            <td><%= post.mark %></td>
            <td><%= post.model %></td>
            <td><%= post.year %></td>
            <td><%= post.registration %></td>
            <td><%= post.owner %></td>
            <td>Kwota 1</td>
            <td>Kwota 2</td>
            <td>Kwota 3</td>
            <td>Zapisz kwoty</td>
            <td>tusk</td>
            <td><%= link_to "Pobierz", post.document.url %></td>
            <td><%= link_to 'MAJCHRZAK', { :controller => 'posts', :action => 'send_majchrzak', :id => post.id }, :method => :get, :remote => true, class: "btn btn-primary btn-sm", data: { disable_with: "<i class='i class='fa fa-circle-o-notch fa-spin'>
      </i> Wysyłam..."} %></td>
            <td><%= link_to 'PCWO', { :controller => 'posts', :action => 'send_pcwo', :id => post.id }, :method => :get, :remote => true, class: "btn btn-primary btn-sm", data: { disable_with: "<i class='i class='fa fa-circle-o-notch fa-spin'>
      </i> Wysyłam..."} %></td>
      <td><%= link_to 'SOLACE', { :controller => 'posts', :action => 'send_solace', :id => post.id }, :method => :get, :remote => true, class: "btn btn-primary btn-sm", data: { disable_with: "<i class='i class='fa fa-circle-o-notch fa-spin'>
      </i> Wysyłam..."} %></td>
            
            <td><%= link_to "Szczegóły", post %></td>
        </tr>
        <% end %>
    </tbody>
</table>

