<table class="table table-striped">
    <thead>
        <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Produkcja</th>
            <th>Tablice</th>
            <th>Właściciel</th>
            <th>Majchrzak</th>
            <th>PCWO</th>
            <th>Solace</th>
            <th>Moja Oferta</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td><%= @post.mark %></td>
            <td><%= @post.model %></td>
            <td><%= @post.year %></td>
            <td><%= @post.registration %></td>
            <td><%= @post.owner %></td>
            <td><%= @post.majchrzak %></td>
            <td><%= @post.pcwo %></td>
            <td><%= @post.solace %></td>
            <td><%= @post.offer %></td>
        </tr>
    </tbody>
</table>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Komentarz</div>
          <div class="panel-body"><%= @post.comment %></div>
        </div>
      </div>
</div>

<br>
     <div class="span7 text-center">
         <%= link_to "Wyświetl Kosztorys", @post.document.url, class: 'btn btn-primary' %>
        <%= link_to "Edycja Szkody", edit_post_path(@post), class: 'btn btn-primary'%>
        <%= link_to "Usun Szkode", post_path(@post), method: :delete, data: {confirm: "Czy na pewno chcesz usunać szkode?"}, class: 'btn btn-primary'%>
    </div>