<table class="table table-striped">
    <thead>
        <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Produkcja</th>
            <th>Tablice</th>
            <th>Właściciel</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td><%= @post.mark %></td>
            <td><%= @post.model %></td>
            <td><%= @post.year %></td>
            <td><%= @post.registration %></td>
            <td><%= @post.owner %></td>
        </tr>
    </tbody>
</table>
<%= image_tag @post.document.url(:thumb) %>

<%= link_to "Edycja Szkody", edit_post_path(@post) %>

<%= link_to "Usun Szkode", post_path(@post), method: :delete, data: {confirm: "Czy na pewno chcesz usunać szkode?"}%>