<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to "Strona główna", root_path, :class => "btn btn-default guzik_gorny"%>
    <%= link_to "Nowa szkoda", new_post_path, :class => "btn btn-default guzik_gorny"%>
 </div>
</div>

<%= yield %>

</body>
</html>
